# Default values for trifle-io.

replicaCount: 2

image:
  repository: trifle/docs
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: trifle-dockerhub
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: docs.trifle.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: docs-trifle-io-tls
      hosts:
        - docs.trifle.io

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi

nodeSelector: {}
tolerations: []
affinity: {}

env:
  APP_ENV: production
  RACK_ENV: production
  PORT: 8080
